= form_for @job do |f|
  - if @job.errors.any?
    #error_explanation
      %h2= "#{pluralize(@job.errors.count, "error")} prohibited this job from being saved:"
      %ul
        - @job.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = label_tag :category, "Select a Category:"
    %p
      %select{:name => "category"}
        - @categories.each do |c|
          -if @job.category.nil?
            %option=c
          -else
            %option{selected: @job.category.name.eql?(c)}=c
    %p= link_to "Add New Category", new_category_path
  .field
    = label_tag :category, "Select a Location:"
    %p
      %select{:name => "location"}
        - @locations.each do |l|
          -if @job.location.nil?
            %option=l
          -else
            %option{selected: @job.location.name.eql?(l)}=l
    %p= link_to "Add New Location", new_location_path
  .field
    = f.label :description
    = f.text_area :description, :rows => "6"
  .field
    %p
      %label Administrative Options
    = f.label :expiration_date, "When would you like your job listing to expire"
    = f.date_select :expiration_date
  .field{:class=>"moreTopMargin"}
    = f.label :application_link, "Please provide a link to your company’s jobs or application page. Leave blank if you would like to use this site’s application form"
    = f.text_field :application_url
  /.field
  /  = f.label :job_email, "Enter an email address if you would you like to receive an email everytime an application is received"
  /  = f.text_field :job_email
  .actions
    %input{:type=>"submit", :value=>"Save", :class=>"submitLink"}
