<!DOCTYPE html>
<html>
<head>
  <title>StartXJobs</title>

  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:400,800">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Raleway:400,900,800">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="top-bar">
	  <ul class="title-area">
	    <li class="name">
	      <h1><a href="http://startx.stanford.edu" id="startx-top">Start<span class="green">X</span></a></h1>
	    </li>
	  </ul>

	  <section class="top-bar-section">
	    <!-- Left Nav Section -->
	    <ul class="left">
	      <!--<li><a href="/">Home</a></li>-->
	      <li><a href="/">Jobs</a></li>

	      <% if !current_user.nil? and !current_user.company.nil? %>
  				<li><%= link_to current_user.company.name, "/companies"  %></li>
	      <% end %>
	    </ul>

	    <!-- Right Nav Section -->
	    <ul class="right">
	    	<% if current_user.nil? %>
	    		<li><%= link_to "Company Sign In", new_user_session_path %></li>
  			<% else %>
					<li><%= link_to "Account Settings".html_safe, edit_user_registration_path %></li>
  				<li><%= link_to "Sign Out", destroy_user_session_path, :method => :delete %></li>
				<% end %>
	    </ul>
	  </section>
	</nav>

	<div id="message">
		<% unless notice.nil? %>
			<p class="notice"><%= notice %></p>
		<% end %>
		<% unless alert.nil? %>
			<p class="alert"><%= alert %></p>
		<% end %>
	</div>
	
	<div id="content">
		<%= yield %>
	</div>

</body>
</html>
